# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
*.env
!.env.example
!frontend/.env.example

# Docker volumes
postgres_data/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
pk.txt
*.txt~
